body{
    margin:0;
    padding:0;
    background-image: url("../img/background2.png");
    background-repeat: repeat-y;
}
.back{
    color:white;
}

.login_wd{
    width:20rem;
    line-height: 2.5rem;
    margin:7rem auto 0;

}
.login_wd .info input{
    width:100%;
    margin-top:1rem;
    border:3px dotted #b9eeb2;
}
.login_wd div button{
    width:100%;
        margin-top: 1rem;
}
.login_wd div a{
    font-size:0.5rem;
}
.footer{
    height:14rem;
    margin-top:10rem;

}
div button{
    text-shadow:2px 2px 20px rgba(66, 66, 66, 0.88);
    animation:loginPlus 5s linear infinite;
}
div button:hover{
    text-shadow:none;
}
.login_wd div h4,.login_wd div label{
    color: #ff7d79;
}
.login_wd div a{
    color: rgba(50, 56, 62, 0.59);
}
/*¶¯»­*/
@keyframes loginPlus {
    from { background-color: transparent; box-shadow: 0 0 10px #333; }
    50% { background-color: transparent; box-shadow: 0 0 25px rgba(195, 255, 9, 0.03); }
    to { background-color:  transparent; box-shadow: 0 0 10px #333; }
}