body{
    background-image: url("../img/background2.png");
    background-repeat: repeat-y;
}
.reg{
    width:27%;
    margin:3rem auto;

}
.back{
    color:white;
}
.reg>div>input{
    margin:0.1rem 1.5rem;
    width:80%;
    border-color: #00aeef;
}
.footer{
    height:11rem;

}
.welcome,label{
    color: #ff9b15;
}
.reg div span{
    margin-left:2rem;
    font-size:0.1rem;

}
.reg button{
    animation:reqPlus 5s linear infinite;
}
/*¶¯»­*/
@keyframes reqPlus {
    from { background-color: transparent; box-shadow: 0 0 9px #333; }
    50% { background-color: rgba(70, 255, 137, 0.22); box-shadow: 0 0 25px rgba(39, 200, 199, 0.43); }
    to { background-color:  transparent; box-shadow: 0 0 9px #333; }
}

