
.footer{
    height:11rem;

}
.bir_wid{
    width:11.2rem;
}
body{
    background-image: url("../img/background2.png");
    background-repeat: repeat-y;
}
.update_info{
    height:25rem;
    padding-top:3rem;
    margin:1.1rem 0 1.3rem;
    background:#fcf8e380;
}
.update_info button{
    animation:updataPlus 5s linear infinite;
}

form h4,form p{
    color: #ff7590;
}

/*¶¯»­*/
@keyframes updataPlus {
    from { background-color: transparent; box-shadow: 0 0 12px rgba(125, 96, 151, 0.5); }
    50% { background-color: rgba(200, 45, 60, 0.23); box-shadow: 0 0 25px rgba(125, 96, 151, 0.44); }
    to { background-color:  transparent; box-shadow: 0 0 12px rgba(125, 96, 151, 0.44); }
}